.details {
  width: 80%;
  margin: 0px auto;
  color: black;
}
.details_box img {
  max-width: 500px;
  max-height: 500px;
  object-fit: fill;
}
.details_box {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  gap: 30px;
  padding: 50px;
  margin-top: 120px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.details_box p {
  margin: 0;
  line-height: 2.8;
  color: rgb(88, 90, 92);
}
.details_box span {
  color: black;
  font-weight: bold;
}
.details_box .title {
  font-weight: bold;
}
.details_card_content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.details_card_content .description {
  text-align: left;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
