.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0 0;
  margin-top: 50px;
}
.searching {
  width: 800px;
  padding: 5px;
  border-radius: 30px;
}
.ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-start-start-radius: 33px;
  border-end-start-radius: 33px;
}
.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  padding-top: 0;
  padding-bottom: 0;
  border-start-start-radius: 0;
  border-start-end-radius: 30px;
  border-end-end-radius: 30px;
  border-end-start-radius: 0;
}
