.movie_card {
  align-items: center;
  height: 400px;
  min-height: 400px;
  transition: transform 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.movie_card img {
  width: 220px;
  height: 250px;
  min-height: 250px;
  object-fit: fill;
}
.movie_card:hover {
  transform: scale(1.05);
}
